.button {
  padding: .75em 2em;
  text-decoration: none;

  transition: color .25s ease, background-color .25s ease;
}

.outline-button {
  color: $base-color;
  border: 1px solid $base-color;
  border-radius: 3px;

  &:hover {
    background-color: $base-color;
    color: $base-color-light;
  }
}