$contain-width: 1200px;
$default-gutter: 30px;
$body-font-size: 16px;

$zindex-base: 1;

$heading: "Gotham A", "Gotham B", Helvetica, Arial, sans-serif;
$heading-style: "font-style: normal";
$heading-weight: 500;

$body: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;
$body-style: normal;
$body-weight: 400;

$cursive: 'Allan', cursive;
$sans-serif: 'Oswald', sans-serif;

$base-color: #333;
$base-color-light: #f8f8f8;

$yellow: #fad446;
$yellow-orange: #f9a83b;
$orange: #f17f30;
$red-orange: #d9412f;
$red: #da2331;

$nav-links: $orange;