$contain-width: 1200px;
$default-gutter: 30px;
$body-font-size: 16px;

$zindex-base: 1;

$cursive: 'Allan', cursive;
$sans-serif: 'Oswald', sans-serif;

$base-color: #333;

$yellow: #fbb03b;
$yellow-orange: #ed7e25;
$orange: #f15a24;
$red-orange: #ea4020;
$red: #bf0e1a;

$nav-links: $red-orange;