.team .contain {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  @media (min-width: 540px) {
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
  .team-member {
    margin: 0 0 4em;
    text-align: center;
    align-self: flex-start;

    &:last-child {
      margin-bottom: 0;

      @media (min-width: 991px) {
        margin: 0 0 4em;
      }
    }
  }
    .team-member img {
      display: block;
      border-radius: 50%;
      max-width: 100%;
      margin: auto;
    }
    .team-member figcaption {
      margin-top: 1em;
      font-size: 1.5em;
      font-family: $sans-serif;
      text-transform: uppercase;
    }
    .team-member cite {
      display: block;
      margin-top: .25em;
      margin-bottom: 1.5em;
      color: darken(white, 50%);
      font-size: 1em;
      font-family: $sans-serif;
      font-style: normal;
    }
    .team-member p {
      width: 100%;
      max-width: 480px;
      margin: auto;
      padding-left: 1em;
      padding-right: 1em;

      color: $base-color;
      line-height: 1.75;
      text-align: left;

      @media (min-width: 480px) {
        padding-left: 0;
        padding-right: 0;
        width: 80%;
        text-align: center;
      }
    }