.team .contain {
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
  .team-member {
    margin: 0 0 4em;
    text-align: center;
    align-self: flex-start;
  }
    .team-member img {
      display: block;
      border-radius: 50%;
      max-width: 100%;
      margin: auto;
    }
    .team-member figcaption {
      margin-top: 1em;
      font-size: 1.5em;
      font-family: $sans-serif;
      text-transform: uppercase;
    }
    .team-member cite {
      display: block;
      margin-top: .25em;
      margin-bottom: 1.5em;
      color: darken(white, 50%);
      font-size: 1em;
      font-family: $sans-serif;
      font-style: normal;
    }
    .team-member p {
      width: 80%;
      margin: auto;
      max-width: 480px;
      color: $base-color;
      line-height: 1.75;
    }