.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  padding-top: 150px;
  min-height: 100vh;
  text-align: center;
}

  .welcome .logo {
    width: 100%;
    max-width: 150px;
    z-index: $zindex-base + 4;
  }

  .welcome h1,
  .welcome p {
    color: $base-color;
    position: relative;
  }

  .welcome h1 {
    font-family: $cursive;
  }

  .welcome p {
    width: 70%;
    max-width: 550px;
    line-height: 1.75;
  }

  .welcome .button {
    margin-top: 1em;
    position: relative;
    z-index: $zindex-base + 2;
  }


  .is-skrolling {
    .welcome .logo {
      position: fixed;
      top: 0px;
      left: 50%;
      transform-origin: top;
      transform: translate(-50%, 150px);
    }
    .welcome h1 { margin-top: 300px; }
  }