.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100vh;
  text-align: center;
  z-index: $zindex-base + 1;
}
  .welcome h1,
  .welcome p {
    position: relative;
    color: white;
  }
  .welcome h1 {
    font-family: $cursive;
  }

  .welcome p {
    width: 70%;
    max-width: 550px;
    line-height: 1.75;
  }

  .welcome .button {
    margin-top: 1em;
    position: relative;
  }